<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="faind___container_body">
    <mat-toolbar color="warn" class="faind___toolbar">
      <button mat-icon-button color="dark" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1> Gerenciamento de Sucos </h1> 
    </mat-toolbar>
  
    <mat-sidenav-container class="faind___mat-sidenav-container"> 
      <mat-sidenav #sidenav >
        <mat-nav-list>
          <h3 mat-subheader></h3>
          <a mat-list-item routerLink="/usuarios"> Clientes </a>
          <a mat-list-item routerLink="/questoes"> Pedidos </a> 
          <h3 mat-subheader></h3>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  </div>  
</body>
</html>

